.head{
    border-radius: 15px;
    text-align: center;
    border: solid darkturquoise 10px;
    color: yellow;
    background-image: url("fonhd.png");
}
body{
    background-image: url("orig (1).gif");
    text-align: center;
}
figcaption{
    color:yellow;
    width: 30%;
    border: rgb(24, 205, 0) solid 5px;
    background-color: mediumblue;
    border-radius: 25px;
    text-align: left;
}
audio{
    width: 95%;
    background-color: orangered;
    color: orchid;
}
.body{
    margin: 20px;
    background-image: url("fon.jpg");
    border: double rgb(30, 255, 0) 5px;
    border-radius: 20px;
    border-image: 50px;
    width: 90%;
    text-align: right;
}
.vid{
    height: 10%;
    width: 10%;
    border: groove orange 5px;
    background-color: lime;
    cursor: pointer;
    border-radius: 20px;
    text-align: left;
    
}
.Telegram{
    border-radius: 50px;
}
