.Shamshodbek{
    border:thick double #32a1ce;
    bottom:solid;
    background-color:chartreuse;
    color:#d50000;
}
body{
    width: 80%; 
    margin: auto; 
    border: #1A237E 2px solid; 
    padding:25px; 
    background-image: url('frozenformations10.jpg' );
}
.head{
    text-align: center;
    background-color: cyan;
    color:#AA00FF ;
}
.box{
    text-align: center;
    background-color: rgb(47, 255, 92);
}
.box-1{
    color: rgb(255, 0, 0);
    border: rgb(102, 81, 11) thick double;
    background-color: aqua;
    
}
.box-2{
    text-align: center;
    color: rgb(123, 218, 0);
    background-color: #1A237E;
}
.abd{
    border: magenta dashed 3px;
    color: rgb(187, 255, 0);
    text-align: center;
} 
.audio{
    background-color: mediumturquoise;
    color: rgb(255, 0, 0);
}
.bar{
    background-color: #1A237E;
    text-align: center;
    color:black;
    
}
.audio {
    background-color: mediumturquoise;
    color: rgb(255, 0, 0); 
}
button{
    background-color: green;
    color: rgb(230, 255, 2);
    cursor: pointer;
    border: dashed springgreen 6px;
    padding: 14px 20px;
}
.Yuk{
    border: groove yellowgreen 6px;
    color: yellow;
    width: 10%;
    background-color: #33ff00;
}
.lash{
    border: groove yellowgreen 6px;
    width: 10%; 
    background-color: #33ff00;
    color: orange;
}
.asta{
    background: blueviolet;
    font-weight: 400;
    font-variant: small-caps;
    font-family: Arial, helvetica, sans-serif;
    font-size: 16px;
    margin: 6px;
    padding: 17px 18px;
    text-align: -webkit-center;
    border-radius: 100%;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

}
.qidir{
    text-align: center;
    color: crimson;
}
